In [184]:
#data
import pandas as pd
import numpy as np

#Plots
import matplotlib.pyplot as plt

#linear regiression nModel Building Library
import sklearn.linear_model

In [185]:
data = pd.read_csv('yellow_tripdata_2020-01.csv', low_memory=False)

In [186]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 879.6+ MB

In [187]:
data.isnull().sum()

VendorID                 65441
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          65441
trip_distance                0
RatecodeID               65441
store_and_fwd_flag       65441
PULocationID                 0
DOLocationID                 0
payment_type             65441
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [188]:
df = pd.DataFrame(data[['PULocationID','DOLocationID']])

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   PULocationID  int64
 1   DOLocationID  int64
dtypes: int64(2)
memory usage: 97.7 MB

In [190]:
X=df[['PULocationID']]
y= data.iloc[:, 1]
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)
data['clusters'] = y_kmeans

In [191]:
y_kmeans

array([0, 0, 0, ..., 1, 2, 3])

In [192]:
import datetime

x = pd.to_datetime(data['tpep_pickup_datetime'])
y = pd.to_datetime(data['tpep_dropoff_datetime'])
duration = y-x
data['duration']= duration.values.astype("float64")

In [193]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,clusters,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5,0,2.880000e+11
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5,0,4.450000e+11
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5,0,3.710000e+11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0,0,2.910000e+11
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0,3,1.380000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0,0,1.860000e+12
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0,0,4.560000e+12
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0,1,1.670000e+12
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0,2,1.359000e+12
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0,3,1.320000e+12

In [194]:
total = pd.DataFrame(data[['trip_distance','duration','clusters']])

In [195]:
total

         trip_distance      duration  clusters
0                 1.20  2.880000e+11         0
1                 1.20  4.450000e+11         0
2                 0.60  3.710000e+11         0
3                 0.80  2.910000e+11         0
4                 0.00  1.380000e+11         3
...                ...           ...       ...
6405003           3.24  1.860000e+12         0
6405004          22.13  4.560000e+12         0
6405005          10.51  1.670000e+12         1
6405006           5.49  1.359000e+12         2
6405007          11.60  1.320000e+12         3

[6405008 rows x 3 columns]

In [196]:
total['duration'] = pd.to_datetime(data['duration']).astype('int64')

X=total[['trip_distance','duration','clusters']]
y= data['fare_amount']
model= sklearn.linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [197]:
y_predicted = model.predict(X) #use x to predict y
print(y_predicted)

[12.71520274 12.7855272  12.74899766 ... 13.17928257 12.80422603
 12.61375977]